@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
@import 'settings';
@import 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'Onest';
    font-size: 16px;
    font-weight: 400;
    color:#646565;
}